/* Importation de Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Déclaration des polices personnalisées */
@font-face {
  font-family: 'Jost';
  src: url('/font/Jost/Jost-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'IslandMoments';
  src: url('/font/Island-Moments/IslandMoments-Regular.ttf') format('truetype');
  font-style: normal;
}

/* Déclaration des variables CSS globales */
:root {
  --base-font-size: 16px;
  --font-size-multiplier: 0.02;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;

  --font-primary: 'Jost', sans-serif;
  --font-secondary: 'IslandMoments', sans-serif;
  --primary-color: #A00C30;
  --secondary-color: #F5F5F5;
  --placeholder-color: rgb(131, 128, 128);
  --label-color: #999;
  --label-focus-color: #000;
  --border-color: #000;
  --border-hover-color: white;
  --checkbox-border-color: gray;
  --checkbox-checked-bg: blue;
  --checkbox-checked-border: blue;
  --popup-bg: white;
  --popup-shadow: rgba(0, 0, 0, 0.1);
}

/* Styles globaux */
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  font-family: var(--font-primary), serif;
}

.list__item {
  font-family: 'Jost', sans-serif;
  font-weight: 300;
}

/* Classes utilitaires personnalisées */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.font-jost {
  font-family: 'Jost', sans-serif;
}

.font-island {
  font-family: 'IslandMoments', sans-serif;
}

/* Styles généraux d'éléments et composants */
.group {
  position: relative;
}

.input {
  display: block;
  border: none;
  background: transparent;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: transparent;
}

.input:focus::placeholder {
  color: var(--placeholder-color);
}

.input.expand {
  background-color: var(--secondary-color);
  width: 290px;
  padding: 5px 16px;
  cursor: none;
}

.input.collapse {
  background-color: transparent;
  width: 40px;
  padding: 18px 16px;
  transition: all 1s ease-in-out;
}

.label-p {
  color: var(--label-color);
  font-size: calc(18px - 2px);
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 7px;
  transition: 0.2s ease all;
}

.input:focus~label,
.input:valid~label {
  top: -25px;
  font-size: 16px;
  color: var(--label-focus-color);
}

.iconFunny {
  border-radius: 54%;
  border: var(--border-color) solid 2px;
}

/* Spécifications pour la checkbox personnalisée */
.special-checkbox {
  @apply w-3 h-3 border-2 border-gray-600 rounded outline-none transition duration-300;
}

.special-checkbox:hover {
  @apply outline-white;
}

.special-checkbox:checked {
  @apply bg-blue-500 border-blue-500;
}

/* Styles pour des éléments spécifiques */
.productCard_circle.first,
.productCard_circle.second {
  height: 100px;
  width: 100px;
  background-color: var(--primary-color);
  opacity: 0.1;
  border-radius: 50%;
}

.productCard_circle>p {
  display: none;
}

.scrollable-inputs {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollable-inputs::-webkit-scrollbar {
  display: none;
}

.cursive-letters {
  font-family: 'IslandMoments', serif;
}

.button-effect:hover {
  animation: shadow 0.9s reverse;
}

.text-stroke {
  color: white;
  text-shadow: 1.5px 1.5px black;
}

.bigger-scale:hover {
  animation: bigger 0.5s forwards;
}

/* Styles pour les boutons et les popups */
.scroll-button {
  position: absolute;
  background-color: var(--secondary-color);
  border-radius: 0.25rem;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 1;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
}

.scroll-button:hover {
  opacity: 0.7;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.3);
}

.popup {
  background-color: var(--popup-bg);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px var(--popup-shadow);
  z-index: 1;
}

/* Déclarations des animations */
@keyframes reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes inputHighlighter {
  from {
    background: var(--secondary-color);
  }

  to {
    width: 0;
    background: transparent;
  }
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(40px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shadow {
  0% {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transform: translateY(0) scale(1);
  }

  100% {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: translateY(1px) scale(1.04);
  }
}

@keyframes bigger {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.4);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

/* Media queries pour la responsivité */
@media (max-width: 520px) {
  .labelAnimation {
    font-size: 12px;
  }
}

@media (max-width: 565px) {
  .special-text {
    font-size: 0.8rem;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 811px) {
  .ml-spe {
    justify-content: center;
    max-width: 260px;
  }

  .first-card {
    margin-left: 260px;
  }

  .gif-models {
    display: none;
  }
}

.bubble {
  position: absolute;
  background-color: var(--primary-color);
  border-radius: 50%;
  pointer-events: none;
}

.bubble1 {
  transform: translate(-50%, 50%);
  height: 35vw;
  bottom: -10vw;
  left: -5vw;
  width: 35vw;
  animation: floating 5s infinite;
}

.bubble2 {
  width: 25vw;
  height: 25vw;
  bottom: 0vw;
  right: -20vw;
  animation: floating 7s infinite;
}

.bubble3 {
  position: absolute;
  width: 370px;
  height: 370px;
  bottom: -10vw;
  right: -9.6vw;
  transform: translateX(-40%);
  z-index: -111;
}

.bubble4 {
  width: 42.96875vw;
  height: 42.96875vw;
  top: -30vw;
  right: -20vw;
  animation: floating 7s infinite;
}

.group {
  position: relative;
}

.input {
  display: block;
  border: none;
  background: transparent;
}

.input:focus {
  outline: none;
}

.label-p {
  color: var(--label-color);
  font-size: calc(18px - 2px);
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 7px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.input:focus~label,
.input:valid~label {
  top: -25px;
  font-size: 16px;
  color: var(--label-focus-color);
}

.bar {
  position: relative;
  display: block;
  width: 200px;
}

.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: var(--secondary-color);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

.input:focus~.bar:before,
.input:focus~.bar:after {
  width: 50%;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
}